{% extends 'lh/base.html' %}

{% block content %}

    <h1>Добавить вещь</h1>
    <hr>

    {% if form.errors %}
        <p>{{ form.errors.error }}</p>
    {% endif %}

    <form method="post" enctype="multipart/form-data">

         <div class="mb-3"  align="left">
            <label for="profile-name" class="form-label">Имя</label>
            {{ form.name }}
            <div id="nameHelp" class="form-text">Профили используются для того, чтобыприложением можно было
            пользоваться всей семьей</div>
        </div>

        {% csrf_token %}
        <button type="submit" class="btn btn-success">Создать</button>

    </form>

{% endblock %}